.tabs-container {
  height: 50px;
}

.tab {
  background-color: white;
  height: 40px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid gray;
  border-bottom: none;
  margin-right: px;
  padding: 10px;
}

.tab:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
